<body>
<div class="card mt-5 w-50 " style="padding: 20px;margin: auto;" >
  <div class="imgcontainer" style="margin: auto;">
    <img src=".\assets\images\login.png" alt="Login image" style="width:100px;height:100px;">
  </div>
  <form [formGroup]="loginFormValidation" #loginForm="ngForm" (ngSubmit)="validateCredentials(loginForm.value)">
    <div class="form-group mt-4">
      <label for="username">Username </label>
      <input type="text" formControlName="username" ngModel name="username" id="username" class="form-control" placeholder="Enter Username">
    </div>
    <span *ngIf="username?.invalid && username?.touched">*Username is required</span>
    <div class="form-group mt-3">
      <label for="address">Password </label>
      <input type="password" formControlName="password" ngModel name="password" id="password" class="form-control" placeholder="Enter Password">
    </div>
    <span *ngIf="password?.invalid && password?.touched">*Password should contain atleast 8 charecters</span>

    <div class="form-group mt-4">
      <input type="submit" [disabled]="loginFormValidation.invalid" value="Login" class="btn btn-primary w-100">
    </div>
  </form>
</div>
</body>
<router-outlet></router-outlet>